.app {
    position: relative;
    height: 500px;
    border: 1px red solid;
    overflow-y: scroll;
}

.content {
    min-height: 3000px;
}

.counter {
  position: fixed;
}

.dialog {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    border: 3px solid #3c3c3c;
    height: 300px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 40px 8px rgba(0, 0, 0, 0.35);
}

.fadein-enter {
    opacity: 0.01;
}

.fadein-enter.fadein-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fadein-leave {
    opacity: 1;
}

.fadein-leave.fadein-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
